body,html
{
    height:100%;
    width:100%;
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;
}
#header
{
    position: relative;
    background-color: #4FC3F7;
    height:40px;
}
#sidebar
{
    position: relative;
    width:15%;
    height: 100%;
    float: left;
    text-align: center;
    background-color:#03A9F4  
}
#event 
{
    position: relative;
    width:auto;
    margin-left: 16%;
    height:100%;
}
#desc
{
    vertical-align: top;
}
#date
{
    margin-left: 10px;
}
.marg
{
    margin-left: 5px;
    vertical-align: bottom;
}
.bold
{
    font-weight: 600;
}
#change
{
    display:inline-block;  
    background-color:#4CAF50;
    padding: 3px;
    border-radius: 2px;
    color: white;
    margin-left:20px;
}
#add
{
    display:inline-block;
    background-color:#F44336;
    padding: 0px 12px 0px 12px;
    color:white;
    border-radius:4px;
    margin-left:10px;
}
#logo
{
    height:auto;
    width:60px;
}
#search
{
    float:right;
    display: inline-block
}
#logo:hover
{
    cursor: pointer;
}
#plus
{
    float:right;
    width:60px;
    height:auto;
}
#plus2
{
    float:right;
    width:60px;
    height:auto;
}
#plus:hover
{
    cursor:pointer;
}
#plus2:hover
{
    cursor:pointer;
}
#options
{
    float:right;
    width:60px;
    height:auto;
}
#options:hover
{
    cursor:pointer;
}

#person
{
    opacity:0;
}
#t1,#value,#ta
{
 display: none;   
}
input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  background-color: transparent;
}
 input[type="text"]:focus,
 input[type="text"].focus {
  border-bottom: solid 2px #969696;
     outline-color: white;
}
/*#user
{
    float:righ
}*/