body,html
{
    height:100%;
    width:100%;
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;
}
#header
{
    background-color: skyblue;
}
#sidebar
{
    position: relative;
    width:15%;
    height: 100%;
    float: left;
    text-align: center;
    background-color:powderblue;
}
#event 
{
    position: relative;
    width:85%;
    float: right;
    height:100%;
    text-align: center;
}
#logo
{
    height:auto;
    width:60px;
}
#logo:hover
{
    cursor: pointer;
}
#plus
{
    float:right;
    width:60px;
    height:auto;
}
#plus2
{
    float:right;
    width:60px;
    height:auto;
}
#plus:hover
{
    cursor:pointer;
}
#plus2:hover
{
    cursor:pointer;
}
#options
{
    float:right;
    width:60px;
    height:auto;
}
#options:hover
{
    cursor:pointer;
}

#person
{
    opacity:0;
}
#t1,#value,#ta
{
 display: none;   
}
input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  background-color: transparent;
  color:white;
}
 input[type="text"]:focus,
 input[type="text"].focus {
  border-bottom: solid 2px #969696;
    outline-color: white;
}
/*#user
{
    float:righ
}*/